/* global tags */
* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  /*font-size: 15px;*/
  margin: 0;
  padding: 0;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

a:hover {
  /*color: #94651a;*/
  text-decoration: underline;
}

.clear {
  clear:both;
}

/* layout */

#container {
  margin:0;
  padding:4px;
}

/* CouchTalk */

.recording {
  color:#aa0003;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  padding:5px;
}

.shareLink {
  width: 100%;
}

video {
  border: 4px solid #000;
  box-sizing: content-box;
}

video.recording {
  border: 4px solid #f00;
}

ul.messages {
  margin-right: 340px;

}


.room li {
  display: inline-block;
  margin: 0; padding: 4px;
}

.room li img {
  border: 4px solid #fff;
  box-sizing: content-box;
  width:320px;
  height: 240px;
}

.room li img.playing {
  border: 4px solid #0f0;
}

.room li img.played {
  border: 4px solid #aca;
}

.room li img.unplayed {
  border: 4px solid #8f8;
}

.room li img.noAudio {
  border: 4px solid #400;
}
